.list_div
{
    width: 700px;
    table-layout: fixed;
    text-align: left;
    margin: 10px;
    padding: 10px;
    font-size: 12px;
}

.un_ordered_list
{
    display: block;
    color: black;
    margin-left: 25px;
}
.un_ordered_list li
{
    padding: 1px;
    background: transparent;
    text-align: left;
    border-radius: 0;
    font-weight: bold;
    list-style-image:url('../images/righthand.jpg');
}
.un_ordered_list li a:hover
{
    color: orangered;
}


/*Multiple horizonatl lists*/

.horizontal_list
{
    display: inline-flex;
    list-style-type: none;
    color: black;
    font-size: 13px;
}

.List_item_red
{
    margin:0px;
    width: 320px;

}
.List_item_red ul
{
    margin: 0px;
    padding:5px;
    list-style-type: none;
}
.List_item_red ul li
{
    margin: 0px;
    padding: 10px;
    border-bottom: solid silver 1px;
    border-left: solid silver 1px;
    border-right: solid silver 1px;
}
.List_item_red ul li:first-child
{
    background-color: red;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    font-weight: bold;
}

.List_item_red ul li:last-child
{
    color: red;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.List_item_red ul li div
{
    margin: 3px;
    padding: 3px;
}
.List_item_red ul li:first-child:hover
{
    
    color: white;
}


.List_item_red ul li ul
{
    display: block;
    color: black;
    margin-left: 5px;
    text-align: left;
    margin-top: 0px;
}
.List_item_red ul li ul span
{
    text-align: left;
    color:red;
    font-weight: bolder;
    font-size: 14px;
}
.List_item_red ul li ul li
{
    padding: 1px;
    margin-left: 10px;
    margin-top: 0px;
    background: transparent;
    text-align: left;
    border-radius: 0;
    font-weight: bold;
    list-style-image:url('../images/righthand.jpg');
    border-bottom: solid silver 0px;
    border-left: solid silver 0px;
    border-right: solid silver 0px;
}
.List_item_red ul li ul li span
{
    text-align: left;
    color:red;
    font-weight: bold;
    font-size: 12px;
}
.List_item_red ul li ul li:first-child
{
    background-color: white;
    text-align: left;
}
.List_item_red ul li ul li:first-child:hover
{
    color: black;
    text-align: left;
}
.List_item_red ul li ul li:last-child
{
    background-color: white;
    text-align: left;
    color: black;
}
.List_item_red ul li ul li:last-child div
{
    margin: 0px;
    padding: 0px;
}
.List_item_red ul li ul li div
{
    margin: 0px;
    padding: 0px;
}



.List_item_green
{
    margin:0px;
    width: 320px;


}
.List_item_green ul
{
    margin: 0px;
    padding: 5px;
    list-style-type: none;
}
.List_item_green ul li
{
    margin: 0px;
    padding: 10px;
    border-bottom: solid silver 1px;
    border-left: solid silver 1px;
    border-right: solid silver 1px;
}
.List_item_green ul li:first-child
{
    background-color: green;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    font-weight: bold;
}
.List_item_green ul li:last-child
{
    color: green;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.List_item_green ul li div
{
    margin: 3px;
    padding: 3px;
}
.List_item_green ul li:first-child:hover
{
    
    color: white;
}
.List_item_green ul li ul
{
    display: block;
    color: black;
    margin-left: 5px;
    text-align: left;
    margin-top: 0px;
}
.List_item_green ul li ul span
{
    text-align: left;
    color:green;
    font-weight: bolder;
    font-size: 14px;
}
.List_item_green ul li ul li
{
    padding: 1px;
    margin-left: 10px;
    margin-top: 0px;
    background: transparent;
    text-align: left;
    border-radius: 0;
    font-weight: bold;
    list-style-image:url('../images/righthand.jpg');
    border-bottom: solid silver 0px;
    border-left: solid silver 0px;
    border-right: solid silver 0px;
}
.List_item_green ul li ul li span
{
    text-align: left;
    color:green;
    font-weight: bold;
    font-size: 12px;
}
.List_item_green ul li ul li:first-child
{
    background-color: white;
    text-align: left;
}
.List_item_green ul li ul li:first-child:hover
{
    color: black;
    text-align: left;
}
.List_item_green ul li ul li:last-child
{
    background-color: white;
    text-align: left;
    color: black;
}
.List_item_green ul li ul li:last-child div
{
    margin: 0px;
    padding: 0px;
}
.List_item_green ul li ul li div
{
    margin: 0px;
    padding: 0px;
}


.List_item_purple
{
    margin:0px;
    width: 320px;


}
.List_item_purple ul
{
    margin: 0px;
    padding: 5px;
    list-style-type: none;
}
.List_item_purple ul li
{
    margin: 0px;
    padding: 10px;
    border-bottom: solid silver 1px;
    border-left: solid silver 1px;
    border-right: solid silver 1px;
}
.List_item_purple ul li:first-child
{
    background-color: purple;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    font-weight: bold;
}
.List_item_purple ul li:last-child
{
    color: purple;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.List_item_purple ul li div
{
    margin: 3px;
    padding: 3px;
}
.List_item_purple ul li:first-child:hover
{
    
    color: white;
}

.List_item_purple ul li ul
{
    display: block;
    color: black;
    margin-left: 5px;
    text-align: left;
    margin-top: 0px;
}
.List_item_purple ul li ul span
{
    text-align: left;
    color:purple;
    font-weight: bolder;
    font-size: 14px;
}
.List_item_purple ul li ul li
{
    padding: 1px;
    margin-left: 10px;
    margin-top: 0px;
    background: transparent;
    text-align: left;
    border-radius: 0;
    font-weight: bold;
    list-style-image:url('../images/righthand.jpg');
    border-bottom: solid silver 0px;
    border-left: solid silver 0px;
    border-right: solid silver 0px;
}
.List_item_purple ul li ul li span
{
    text-align: left;
    color:purple;
    font-weight: bold;
    font-size: 12px;
}
.List_item_purple ul li ul li:first-child
{
    background-color: white;
    text-align: left;
}
.List_item_purple ul li ul li:first-child:hover
{
    color: black;
    text-align: left;
}
.List_item_purple ul li ul li:last-child
{
    background-color: white;
    text-align: left;
    color: black;
}
.List_item_purple ul li ul li:last-child div
{
    margin: 0px;
    padding: 0px;
}
.List_item_purple ul li ul li div
{
    margin: 0px;
    padding: 0px;
}

.List_item_blue
{
    margin:0px;
    width: 320px;


}
.List_item_blue ul
{
    margin: 0px;
    padding: 5px;
    list-style-type: none;
}
.List_item_blue ul li
{
    margin: 0px;
    padding: 10px;
    border-bottom: solid silver 1px;
    border-left: solid silver 1px;
    border-right: solid silver 1px;
}
.List_item_blue ul li:first-child
{
    background-color: blue;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    font-weight: bold;
}
.List_item_blue ul li:last-child
{
    color: blue;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.List_item_blue ul li div
{
    margin: 3px;
    padding: 3px;
}
.List_item_blue ul li:first-child:hover
{
    
    color: white;
}
.List_item_blue ul li ul
{
    display: block;
    color: black;
    margin-left: 5px;
    text-align: left;
    margin-top: 0px;
}
.List_item_blue ul li ul span
{
    text-align: left;
    color:blue;
    font-weight: bolder;
    font-size: 14px;
}
.List_item_blue ul li ul li
{
    padding: 1px;
    margin-left: 10px;
    margin-top: 0px;
    background: transparent;
    text-align: left;
    border-radius: 0;
    font-weight: bold;
    list-style-image:url('../images/righthand.jpg');
    border-bottom: solid silver 0px;
    border-left: solid silver 0px;
    border-right: solid silver 0px;
}
.List_item_blue ul li ul li span
{
    text-align: left;
    color:blue;
    font-weight: bold;
    font-size: 12px;
}
.List_item_blue ul li ul li:first-child
{
    background-color: white;
    text-align: left;
}
.List_item_blue ul li ul li:first-child:hover
{
    color: black;
    text-align: left;
}
.List_item_blue ul li ul li:last-child
{
    background-color: white;
    text-align: left;
    color: black;
}
.List_item_blue ul li ul li:last-child div
{
    margin: 0px;
    padding: 0px;
}
.List_item_blue ul li ul li div
{
    margin: 0px;
    padding: 0px;
}








/*Multiple horizontal lists*/

.iconstandard
{
    width: 100px;
    height: 100px;
}
.list_div_inner
{
    table-layout: fixed;
    text-align: left;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}
.color_purple
{
    color: purple;
}
.color_grey
{
    color: darkgrey;
}




