.div-Vocaulary
{
    border-radius: 15px;
    border:solid black 2px;
    border-left: solid black 10px;
    border-right: solid black 10px;
    padding: 10px;
    font-size: 12px;
    margin: 10px;
}
.div-Vocaulary-Text
{
    
    
    margin-top: 10px;
    font-weight: bolder;
    background-color: black;
    padding: 10px;
    color: white;
    font-size: 16px;
    
}

.div-Vocaulary-Meaning
{
    padding: 5px;
    font-weight: bolder;
    font-size: 14px;
    vertical-align: top;
}
.div-Vocaulary-examples
{
    padding: 5px;
    text-align: left;
    color: brown;
    margin: 5px;
}
.div-Vocaulary-image
{
    width: 100px;
    height: 100px;

}
.div-Vocaulary-image-td
{
    vertical-align:middle;
}
.div-Vocaulary-Meaning-Examples-td
{
    
    vertical-align: top;
}